/* Themed colors */
:root {
    --primary-accent: #38a7bb;
    --navbar-border-top: #20616d;
    --button-border: #2a7d8c;
    --link-focus: #267280;
    --form-shadow: rgba(56, 167, 187, 0.6);
    --pagination-bg: #a7dbe5;
    --link-hover-bg: #2c8494;
    --navbar-focus: #80cbd9;
    --pub-focus: #d0f3fa80;
    --dark-gray: #555555;
    --light-gray: #999999;
}

.box-simple {
  min-height: 230px;
  font-size: 1.6rem;
  color: var(--dark-gray);
}

.home-carousel { position: relative; z-index: 1; }
.bar, footer { position: relative; z-index: 2; }

/* navbar link format */
.navbar ul.nav > li > a,
.navbar ul.nav > li > a:hover,
.navbar ul.nav > li > a:focus {
    text-decoration: none !important;
}

.navbar ul.dropdown-menu > li.active > a,
.navbar ul.dropdown-menu > li.active > a:focus,
.navbar ul.dropdown-menu > li.active > a:hover {
    background: var(--navbar-focus) !important;
    color: #fff !important;
    text-decoration: none;
}

/* title bar format */
#heading-breadcrumbs {
    padding: 0 0 !important;
}

#heading-breadcrumbs {
    background-image: url("/img/breadcrumbs/circuit-board-seamless-pattern-motherboard-tile_8071-62204.jpg") !important;
    background-size: auto;
}

#heading-breadcrumbs {
    background-color: var(--primary-accent);
    background-blend-mode: soft-light;
}

#heading-breadcrumbs,
#heading-breadcrumbs h1 { color: #000000 !important; }

/* carousel dot color */
.home-carousel .owl-theme .owl-controls .owl-page span {
    background: var(--light-gray);
}
.home-carousel .owl-theme .owl-controls .owl-page.active span{
    background: var(--primary-accent);
}
.home-carousel .owl-theme .owl-controls .owl-page:hover span {
    background: var(--navbar-focus);
}

/* carousel click to publications */
html { scroll-behavior: smooth; }
.anchor:target { scroll-margin-top: 80px; }
p:has(> .anchor:target),
li p:has(> .anchor:target) {
    animation: pubFlash 2s ease-out;
    animation-delay: 0.25s;
}
@keyframes pubFlash {
    20%   { background-color: var(--pagination-bg); }
    100% { background-color: transparent; }
}

/* gallery popup */
.popup { display: none; }
.popup:target {
  display: block;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: rgba(0,0,0,0.75);
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90vh;
  max-width: 90vw;
  overflow: auto;
  background: #111111;
  padding: 12px;
  border-radius: 6px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.popup__close {
  position: absolute;
  top: 10px; right: 20px;
  font-size: 36px;
  color: #fff;
  text-decoration: none;
}

/* body:has(.popup:target) {
  overflow: hidden;
} */
