.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}

/* Themed colors */
:root {
    --primary-accent: #38a7bb;
    --navbar-border-top: #20616d;
    --button-border: #2a7d8c;
    --link-focus: #267280;
    --form-shadow: rgba(56, 167, 187, 0.6);
    --pagination-bg: #a7dbe5;
    --link-hover-bg: #2c8494;
    --navbar-focus: #80cbd9;
}

/* navbar link format */
.navbar ul.nav > li > a,
.navbar ul.nav > li > a:hover,
.navbar ul.nav > li > a:focus {
    text-decoration: none !important;
}

.navbar ul.dropdown-menu > li.active > a,
.navbar ul.dropdown-menu > li.active > a:focus,
.navbar ul.dropdown-menu > li.active > a:hover {
    background: var(--navbar-focus) !important;
    color: #fff !important;
    text-decoration: none;
}

/* title bar format */
#heading-breadcrumbs {
    padding: 0 0 !important;
}

#heading-breadcrumbs {
    background-image: url("/img/breadcrumbs/circuit-board-seamless-pattern-motherboard-tile_8071-62204.jpg") !important;
    background-size: auto;
}

#heading-breadcrumbs {
    background-color: var(--primary-accent);
    background-blend-mode: soft-light;
}

#heading-breadcrumbs,
#heading-breadcrumbs h1 { color: #000000 !important; }

/* carousel dot color */
.home-carousel .owl-theme .owl-controls .owl-page span {
    background: #a1a1a1;
}
.home-carousel .owl-theme .owl-controls .owl-page.active span{
    background: var(--primary-accent);
}
.home-carousel .owl-theme .owl-controls .owl-page:hover span {
    background: var(--navbar-focus);
}
