
{{ $id := .Get "id" }}
<!-- &nbsp; -->
{{ if $id }}
  <div style="position:relative; padding-bottom:56.25%; height:0; overflow:hidden;">
    <iframe
      src="https://www.youtube.com/embed/{{ $id }}"
      frameborder="0"
      allowfullscreen
      style="position:absolute; top:0; left:0; width:100%; height:100%;">
    </iframe>
  </div>
{{ else }}
  {{ $src := .Get "src" }}
  <video controls muted loop playsinline style="max-width:100%; height:auto;">
    <source src="{{ $src }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
{{ end }}
